span.data.description{
    font-size: 0.7em;
    padding: 3px 5px;
    background: rgb(240,240,240);
    border-radius: 5px;
}

div.info-block{
    font-size: 0.7em;
    padding: 3px 5px;
    background: rgb(240,240,240);
    border-radius: 5px;
}